<a href="https://colab.research.google.com/github/cwcheng0/practicepython/blob/master/ReadTaiwanHotel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [440]:
# Read Taiwan hotel data
# Install extensions
#import depencies
import pandas as pd
import numpy as np

In [441]:
# Mount personal Google Drive; all data files are in personal Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [442]:
# Create a file to see if it works
with open('/content/gdrive/My Drive/TourismData/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/TourismData/foo.txt

Hello Google Drive!

In [443]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [444]:
# List files in root directory
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: m0923023651gnt86866.pdf, id: 1ZRl2-DUcAhxmdivc6wiOPurQ6CgD5mt2
title: Guidebook.pdf, id: 1VxPPDacSy5jzX45E40dYjCB5OqxEkwlG
title: 20200912_agenda.pdf, id: 1OVa7XFIQWh2gQiL37xJiuC_H8vfoODlu
title: PythonCode, id: 1dFGhOQOJ9t5x5bJUph24v_N-mnmBKsMZ
title: ContestData, id: 1hjni0UnbkVPr81RPHgSyH74jqF3XT6PS
title: TourismData, id: 1rl2L8Vxmj4mqqFNCa23NUaypbVKazJRD
title: Pixnet整理_Mike_20190804, id: 163PlI9NvQ5wVl62z6Crp4jihVWA4nnABRnPS8tU9neY
title: Colab Notebooks, id: 13yubYLLF_3_MObjXoj-K2aGo-_UFoQZo
title: bnbdata, id: 1yWUzpFHcZDftSVqbCaepJVd9oGsm2pww

In [445]:
# Read a file
df = pd.read_csv('/content/gdrive/My Drive/ContestData/HotelData/Hotel_2020_1-6.csv',encoding='utf-8')

# Notice datatypes changed in some columns.
# Check first few rows.
df.head()

                          旅館名稱     住用率   平均房價
0                        圓山大飯店  66.03%  3,877
1              The Grand Hotel     NaN    NaN
2                        國賓大飯店  74.22%  3,726
3  The Ambassador Hotel-Taipei     NaN    NaN
4                      台北華國大飯店  73.73%  2,917

In [446]:
# Delete the even rows.
df2=df.iloc[::2]
df2.head()

      旅館名稱     住用率   平均房價
0    圓山大飯店  66.03%  3,877
2    國賓大飯店  74.22%  3,726
4  台北華國大飯店  73.73%  2,917
6  華泰王子大飯店  78.22%  2,873
8    國王大飯店  63.10%  1,595

In [447]:
# Check datatypes
df2.dtypes

旅館名稱    object
住用率     object
平均房價    object
dtype: object

In [448]:
df2 = df2.reset_index()
df2.head()

   index     旅館名稱     住用率   平均房價
0      0    圓山大飯店  66.03%  3,877
1      2    國賓大飯店  74.22%  3,726
2      4  台北華國大飯店  73.73%  2,917
3      6  華泰王子大飯店  78.22%  2,873
4      8    國王大飯店  63.10%  1,595

In [449]:
df3=df2.drop(df2.columns[[0]],axis=1)
df3.head()

      旅館名稱     住用率   平均房價
0    圓山大飯店  66.03%  3,877
1    國賓大飯店  74.22%  3,726
2  台北華國大飯店  73.73%  2,917
3  華泰王子大飯店  78.22%  2,873
4    國王大飯店  63.10%  1,595

In [450]:
# Remove % and ,
# Change datatype
df3['住用率'] = df3['住用率'].str.replace('%', '').astype('float') / 100.0
df3['平均房價'] = df3['平均房價'].str.replace(',', '').astype('int')

df3.head()

      旅館名稱     住用率  平均房價
0    圓山大飯店  0.6603  3877
1    國賓大飯店  0.7422  3726
2  台北華國大飯店  0.7373  2917
3  華泰王子大飯店  0.7822  2873
4    國王大飯店  0.6310  1595

In [451]:
# check datatype
df3.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [452]:
# Change float to 住用率
df3['住用率'] = df3['住用率'].multiply(100)

# Sort data by 住用率
df4 = df3.sort_values(by=['住用率'],ascending=False)

# Add % to 住用率
df4['住用率']=df4['住用率'].astype(str)+'%'

# Add a comma into an integer column into 平均房價
df4['平均房價'] = df4.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# reset index
df4 = df4.reset_index()

# Index to start with 1
df4.index = df4.index + 1

# Remove 2nd index
df4=df4.drop(df4.columns[[0]],axis=1)

df4.head(20)

         旅館名稱     住用率   平均房價
1       天成大飯店  92.26%  3,146
2       老爺大酒店  91.34%  4,756
3       神旺大飯店  87.46%  2,668
4     台北花園大酒店  86.88%  2,329
5   台北中山雅樂軒酒店  86.77%  3,976
6       凱撒大飯店  84.33%  4,333
7     台北凱撒大飯店   84.0%  3,481
8    新竹喜來登大飯店  83.96%  3,937
9     美麗信花園酒店  83.64%  2,233
10      三德大飯店  82.86%  1,786
11      首都大飯店  81.88%  3,274
12   台北寒舍艾美酒店  81.17%  8,732
13  洛碁大飯店花華本館  81.06%  1,838
14    尊爵天際大飯店  80.93%  2,273
15      台北W飯店  80.48%  8,441
16    大板根渡假酒店  80.05%  4,821
17    台北君品大酒店  79.87%  4,571
18     台北有園飯店  78.28%  2,629
19    華泰王子大飯店  78.22%  2,873
20     裕元花園酒店  78.04%  3,292

In [453]:
df3.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [454]:
# Sort data by 平均房價
df5 = df3.sort_values(by=['平均房價'],ascending=False)

# Add a comma into an integer column into 平均房價
df5['平均房價'] = df5.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# Add % into 住用率
df5['住用率'] = pd.Series(["{0:.2f}%".format(val * 1) for val in df5['住用率']], index = df5.index)

# reset index
df5 = df5.reset_index()

# Remove 2nd index
df5=df5.drop(df5.columns[[0]],axis=1)

# Index to start with 1
df5.index = df5.index + 1

df5.head(20)

             旅館名稱     住用率    平均房價
1        北投麗禧溫泉酒店  60.20%  13,739
2          涵碧樓大飯店  76.91%  11,652
3            日月行館  27.21%  10,649
4          蘭城晶英酒店  59.65%   8,924
5        台北寒舍艾美酒店  81.17%   8,732
6           台北W飯店  80.48%   8,441
7       雲品溫泉酒店日月潭  73.51%   8,007
8          晶英國際行館   9.14%   7,840
9         礁溪老爺大酒店  66.26%   6,797
10   日勝生加賀屋國際溫泉飯店  54.25%   6,775
11     長榮鳳凰酒店(礁溪)  54.89%   6,758
12        太魯閣晶英酒店  57.58%   6,579
13  香格里拉台北遠東國際大飯店  61.26%   6,519
14        台北美福大飯店  47.48%   6,505
15      阿里山賓館(新館)  61.69%   6,255
16         台北君悅酒店  72.92%   6,190
17         寒舍艾麗酒店  77.68%   6,119
18      台北威斯汀六福皇宮  71.30%   5,970
19         台北萬豪酒店  72.79%   5,948
20          阿里山賓館  38.90%   5,922