<a href="https://colab.research.google.com/github/cwcheng0/practicepython/blob/master/ReadTaiwanHotel_2019_1-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Read Taiwan hotel data
# Install extensions
#import depencies
import pandas as pd
import numpy as np

In [9]:
# Mount personal Google Drive; all data files are in personal Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [10]:
# Create a file to see if it works
with open('/content/gdrive/My Drive/TourismData/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/gdrive/My\ Drive/TourismData/foo.txt

Hello Google Drive!

In [11]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [12]:
# List files in root directory
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: m0923023651gnt86866.pdf, id: 1ZRl2-DUcAhxmdivc6wiOPurQ6CgD5mt2
title: Guidebook.pdf, id: 1VxPPDacSy5jzX45E40dYjCB5OqxEkwlG
title: 20200912_agenda.pdf, id: 1OVa7XFIQWh2gQiL37xJiuC_H8vfoODlu
title: PythonCode, id: 1dFGhOQOJ9t5x5bJUph24v_N-mnmBKsMZ
title: ContestData, id: 1hjni0UnbkVPr81RPHgSyH74jqF3XT6PS
title: TourismData, id: 1rl2L8Vxmj4mqqFNCa23NUaypbVKazJRD
title: Pixnet整理_Mike_20190804, id: 163PlI9NvQ5wVl62z6Crp4jihVWA4nnABRnPS8tU9neY
title: Colab Notebooks, id: 13yubYLLF_3_MObjXoj-K2aGo-_UFoQZo
title: bnbdata, id: 1yWUzpFHcZDftSVqbCaepJVd9oGsm2pww

In [13]:
# Read a file
df = pd.read_csv('/content/gdrive/My Drive/ContestData/HotelData/Hotel_2019_1-6.csv',encoding='utf-8')

# Notice datatypes changed in some columns.
# Check first few rows.
df.head()

                旅館名稱Hotel Name Occupancy Room Rate
0                        圓⼭⼤飯店    79.83%     3,943
1              The Grand Hotel       NaN       NaN
2                        國賓⼤飯店    64.72%     3,761
3  The Ambassador Hotel-Taipei       NaN       NaN
4                      台北華國⼤飯店    78.10%     2,948

In [14]:
# Change column names
df.columns = ['旅館名稱', '住用率', '平均房價']

In [15]:
# Delete the even rows.
df2=df.iloc[::2]
df2.head()

      旅館名稱     住用率   平均房價
0    圓⼭⼤飯店  79.83%  3,943
2    國賓⼤飯店  64.72%  3,761
4  台北華國⼤飯店  78.10%  2,948
6  華泰王⼦⼤飯店  71.52%  2,793
8    國王⼤飯店  67.89%  1,597

In [16]:
# Check datatypes
df2.dtypes

旅館名稱    object
住用率     object
平均房價    object
dtype: object

In [17]:
df2 = df2.reset_index()
df2.head()

   index     旅館名稱     住用率   平均房價
0      0    圓⼭⼤飯店  79.83%  3,943
1      2    國賓⼤飯店  64.72%  3,761
2      4  台北華國⼤飯店  78.10%  2,948
3      6  華泰王⼦⼤飯店  71.52%  2,793
4      8    國王⼤飯店  67.89%  1,597

In [18]:
df3=df2.drop(df2.columns[[0]],axis=1)
df3.head()

      旅館名稱     住用率   平均房價
0    圓⼭⼤飯店  79.83%  3,943
1    國賓⼤飯店  64.72%  3,761
2  台北華國⼤飯店  78.10%  2,948
3  華泰王⼦⼤飯店  71.52%  2,793
4    國王⼤飯店  67.89%  1,597

In [19]:
# Remove % and ,
# Change datatype
df3['住用率'] = df3['住用率'].str.replace('%', '').astype('float') / 100.0
df3['平均房價'] = df3['平均房價'].str.replace(',', '').astype('int')

df3.head()

      旅館名稱     住用率  平均房價
0    圓⼭⼤飯店  0.7983  3943
1    國賓⼤飯店  0.6472  3761
2  台北華國⼤飯店  0.7810  2948
3  華泰王⼦⼤飯店  0.7152  2793
4    國王⼤飯店  0.6789  1597

In [20]:
# check datatype
df3.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [21]:
# Change float to 住用率
df3['住用率'] = df3['住用率'].multiply(100)

# Sort data by 住用率
df4 = df3.sort_values(by=['住用率'],ascending=False)

# Add % to 住用率
df4['住用率']=df4['住用率'].astype(str)+'%'

# Add a comma into an integer column into 平均房價
df4['平均房價'] = df4.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# reset index
df4 = df4.reset_index()

# Index to start with 1
df4.index = df4.index + 1

# Remove 2nd index
df4=df4.drop(df4.columns[[0]],axis=1)

df4.head(20)

          旅館名稱     住用率   平均房價
1        天成⼤飯店  94.38%  3,037
2        老爺⼤酒店  92.17%  4,810
3      台北花園⼤酒店  91.85%  2,314
4        凱撒⼤飯店  91.45%  4,208
5      台北凱撒⼤飯店  86.92%  3,615
6        神旺⼤飯店  86.07%  2,513
7       台北有園飯店  85.99%  2,529
8      ⾼雄國賓⼤飯店  85.11%  2,062
9    洛碁⼤飯店花華本館  84.64%  1,817
10     美麗信花園酒店  84.27%  2,221
11     ⼤板根渡假酒店   83.7%  4,673
12   台北中⼭雅樂軒酒店  83.65%  4,217
13    新⽵喜來登⼤飯店   82.6%  3,788
14      寒舍艾麗酒店   82.4%  6,418
15     尊爵天際⼤飯店  81.96%  2,237
16       台北W飯店  81.96%  8,737
17  台糖⻑榮酒店(台南)  81.95%  2,584
18      台北萬豪酒店  81.42%  6,022
19         960  81.21%  9,158
20    福容⼤飯店 桃園  80.96%  1,858

In [22]:
df3.dtypes

旅館名稱     object
住用率     float64
平均房價      int64
dtype: object

In [23]:
# Sort data by 平均房價
df5 = df3.sort_values(by=['平均房價'],ascending=False)

# Add a comma into an integer column into 平均房價
df5['平均房價'] = df5.apply(lambda x: "{:,}".format(x['平均房價']), axis=1)

# Add % into 住用率
df5['住用率'] = pd.Series(["{0:.2f}%".format(val * 1) for val in df5['住用率']], index = df5.index)

# reset index
df5 = df5.reset_index()

# Remove 2nd index
df5=df5.drop(df5.columns[[0]],axis=1)

# Index to start with 1
df5.index = df5.index + 1

df5.head(20)

             旅館名稱     住用率    平均房價
1          涵碧樓⼤飯店  80.20%  14,230
2        北投麗禧溫泉酒店  65.23%  13,920
3            ⽇⽉⾏館  26.90%  10,888
4          蘭城晶英酒店  55.45%   9,263
5             960  81.21%   9,158
6           台北W飯店  81.96%   8,737
7       雲品溫泉酒店⽇⽉潭  72.97%   8,136
8         遠雄悅來⼤飯店  39.68%   8,038
9         太魯閣晶英酒店  63.94%   7,152
10        礁溪老爺⼤酒店  70.01%   6,993
11   ⽇勝⽣加賀屋國際溫泉飯店  59.63%   6,882
12         晶英國際⾏館  27.44%   6,870
13     瑞穗天合國際觀光酒店  40.36%   6,589
14        台北美福⼤飯店  57.86%   6,549
15         寒舍艾麗酒店  82.40%   6,418
16       福容⼤飯店 福隆  22.80%   6,397
17         台北君悅酒店  71.40%   6,296
18          阿⾥⼭賓館  40.21%   6,171
19  香格⾥拉台北遠東國際⼤飯店  71.85%   6,125
20      阿⾥⼭賓館(新館)  68.08%   6,105